VITE_SUPABASE_URL=https://qejhceflonyjopjzmyaq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlamhjZWZsb255am9wanpteWFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5Njk4MTIsImV4cCI6MjA5OTU0NTgxMn0.isRvbR3VD-uxHweXz5RLkM0WcitwoZgfBp5qmNhWFiA
